{{!------------ WElCOME BAR UNDER NAV ------------}}
<div class="row dash-header">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>
{{!------------ Section for Create and List of Post(s) ------------}}
<div class="conatiner row m-4">
    {{!---------- CREATE POST SECTION ----------}}
    <div class="create-post col">
        <h3>Create a new post:</h3>

        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-name">Post name:</label>
                <input class="form-input" type="text" id="post-name" name="post-name" />
            </div>
            <div class="form-group">
                <label for="post-desc">description:</label>
                <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    {{!---------- CREATED POST SECTION ----------}}
    {{#if posts.length}}
    <div class="col post-list">
        <h3>Current Posts:</h3>
        {{!-- creates this section for EACH post linked by post.id --}}
        {{#each posts as |post|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a class="postname" id="postbutton" href="/post/{{post.id}}">{{post.name}}</a></h4>
            </div>
            <div class="col-md-4">
                {{!-- allows deletion of post --}}
                <button class="btn postdelete btn-sm btn-danger" delete-id="{{post.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{!-- if there are no posts this will display --}}
{{else}}
<div class="col-md-6 post-list">
    <h3>No posts yet</h3>
</div>
</div>
{{/if}}

<script src="/dashboard.js"></script>